@keyframes checkListItemsSlide {
	0% {
		transform: translateX(60px);
		width: calc(100% - 60px);
	}
	100% {
		opacity: 1;
	}
}

.checkListItem {
	opacity: 0;
	animation: checkListItemsSlide 0.6s ease-in-out;
	animation-fill-mode: forwards;
	transition: 0.3s left;
	left: 0;
}
.checkListItem:hover {
	left: 8px;
}
