.columnsView {
	display: flex;
	gap: 2rem;
	padding-bottom: 8px;
	min-height: 70vh;
	transform: rotate(180deg);
	width: min-content;
}

@media screen and (max-width: 600px) {
	.columnsView {
		gap: 0.2rem;
	}
}
