.movableColumn {
	flex-basis: 300px;
	text-align: center;
	padding: 8px;
	margin: 8px;
	background-color: #dbdbdb;
	border-radius: 6px;
}

.movableColumnTitle {
	border: 1px solid #bbb;
	border-radius: 4px;
	background-color: #eee;
	color: #272727;
	padding: 6px;
}

.movableColumnTask {
	background-color: #eee;
	border: 1px solid #bbb;
	border-radius: 4px;
	padding: 6px;
	margin-top: 10px;
}
