.movableColumn {
	width: 300px;
	text-align: center;
	padding: 8px;
	background-color: #dbdbdb;
	border-radius: 6px;
}
.movableColumnTools {
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.3s;
	transition-delay: 0.1s;
}
.movableColumnToolsOpen {
	max-height: 120px;
}

.movableColumnTitle {
	border: 1px solid #bbb;
	border-radius: 4px;
	background-color: #eee;
	color: #272727;
	padding: 6px;
}

@media screen and (max-width: 900px) {
	.movableColumn {
		width: 180px;
		padding: 4px;
	}
}

@media screen and (max-width: 600px) {
	.movableColumn {
		width: calc(180px * 0.8);
		padding: 2px;
	}
	.movableColumn * {
		font-size: smaller;
	}
}
