.projectViewCutText {
	max-height: 1.6rem;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@keyframes newProjectAnimation {
	0% {
		background: inherit;
	}
	30% {
		background: lightblue;
		transform: scale(1.05);
	}
	100% {
		background: inherit;
	}
}

.projectViewNew {
	animation: newProjectAnimation 0.5s ease-in-out;
	animation-delay: 0.8s;
}
