.homePage {
	position: relative;
}
.homePage::before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	position: absolute;
	background-image: url(/gradient.png);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.main {
	min-height: 100vh;
	width: 100%;
}

.mainContent {
	padding: 10px 50px;
	z-index: 2;
	margin: auto;
}

@keyframes floatBackground {
	0% {
		background-position: 50% 25%;
	}
	100% {
		background-position: 50% 35%;
	}
}

.mainImage {
	background-image: url(/student.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
	width: 100%;
	animation: floatBackground 1.6s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes colorEffect {
	0% {
		color: #2979ff;
	}
	100% {
		color: #ec407a;
	}
}

.homeTitleEffect {
	animation: colorEffect 3.5s alternate 0s infinite;
	animation-timing-function: linear;
	font-weight: bold;
}
